<!-- gallery -->
<section class="gallery py-lg-4 py-md-3 py-sm-3 py-3" id="gallery">
  <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Latest Gallery</h3>
    <div class="row gallery-info">
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-img-grid p-0">
        <div class="gallery-grids">
          <a href="#gal1">
            <%= image_tag("g1.jpg", :alt => "g1", :class => "img-fluid") %>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-img-grid p-0">
        <div class="gallery-grids">
          <a href="#gal2">
            <%= image_tag("g2.jpg", :alt => "g2", :class => "img-fluid") %>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-img-grid p-0">
        <div class="gallery-grids">
          <a href="#gal3">
            <%= image_tag("g3.jpg", :alt => "g3", :class => "img-fluid") %>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-img-grid p-0">
        <div class="gallery-grids">
          <a href="#gal4">
            <%= image_tag("g4.jpg", :alt => "g4", :class => "img-fluid") %>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-img-grid p-0">
        <div class="gallery-grids">
          <a href="#gal5">
            <%= image_tag("g5.jpg", :alt => "g5", :class => "img-fluid") %>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery-img-grid p-0">
        <div class="gallery-grids">
          <a href="#gal6">
            <%= image_tag("g6.jpg", :alt => "g6", :class => "img-fluid") %>
          </a>
        </div>
      </div>
    </div>
    <!-- popup-->
    <div id="gal1" class="popup-effect">
      <div class="popup">
        <%= image_tag("g1.jpg", :alt => "g7", :class => "img-fluid") %>
        <a class="close" href="#gallery">×</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal2" class="popup-effect">
      <div class="popup">
        <%= image_tag("g2.jpg", :alt => "g2", :class => "img-fluid") %>
        <a class="close" href="#gallery">×</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal3" class="popup-effect">
      <div class="popup">
        <%= image_tag("g3.jpg", :alt => "g3", :class => "img-fluid") %>
        <a class="close" href="#gallery">×</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal4" class="popup-effect">
      <div class="popup">
        <%= image_tag("g4.jpg", :alt => "g4", :class => "img-fluid") %>
        <a class="close" href="#gallery">×</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal5" class="popup-effect">
      <div class="popup">
        <%= image_tag("g5.jpg", :alt => "g5", :class => "img-fluid") %>
        <a class="close" href="#gallery">×</a>
      </div>
    </div>
    <!-- //popup -->
    <!-- popup-->
    <div id="gal6" class="popup-effect">
      <div class="popup">
        <%= image_tag("g6.jpg", :alt => "g6", :class => "img-fluid") %>
        <a class="close" href="#gallery">×</a>
      </div>
    </div>
    <!-- //popup -->
  </div>
</section>
<!--//gallery -->