<!-- banner -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 banner-left-txt px-0">
      <div class="banner-top-section"
           style="background-image:url('/b3.jpg')">
        <h4>New Collection now
          <br>in Stock</h4>
      </div>
      <div class="banner-bottom-section"
           style="background-image:url('/b4.jpg')">
        <h4>Everything is on sale
          <br>up to 45% Off</h4>
      </div>
    </div>
    <div class=" col-lg-6 banner-right-txt"
         style="background-image:url('/b2.jpg')">
      <h4>Arrived A new And fresh Collection</h4>
      <p class="mt-lg-4 mt-3">Lorem ipsum dolor sit amet consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa</p>
    </div>
  </div>
</div>
</div>
<!--//banner -->
<%= render 'about' %>
<%= render 'service' %>
<%= render 'gallery' %>
<%= render 'blog' %>
<%= render 'contact' %>

